<div class="container-fluid">
  <div class="text-center">
    <%= image_tag 'logo.jpg', size: "100x100", class: "inline-image" %>
    <h2 class="inline-image">Burning Airlines - Admin</h2>
  </div>
  <nav>
    <%= render partial: 'layouts/nav'%>
  </nav>

  <div class="text-center">
    <h1>Editing Airplane</h1>

    <%= render 'form', airplane: @airplane %>

    <%= link_to 'Show', @airplane %> |
    <%= link_to 'Back', airplanes_path %>
  </div>

  <footer>
    &copy; 2021 Burning Airlines
  </footer>
</div>
