<div class="container-fluid">
  <div class="text-center">
    <%= image_tag 'logo.jpg', size: "100x100", class: "inline-image" %>
    <h2 class="inline-image">Burning Airlines - Admin</h2>
  </div>
  <nav>
    <%= render partial: 'layouts/nav'%>
  </nav>
  <p id="notice"><%= notice %></p>

  <div class="text-center">
    <h1>Airplanes</h1>

    <table class="text-center table">
      <thead>
        <tr>
          <th>Serial no</th>
          <th>Row</th>
          <th>Column</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @airplanes.each do |airplane| %>
          <tr>
            <td><%= airplane.serial_no %></td>
            <td><%= airplane.row %></td>
            <td><%= airplane.column %></td>
            <td><%= link_to 'Show', airplane, class: "btn btn-primary" %></td>
            <td><%= link_to 'Edit', edit_airplane_path(airplane), class: "btn btn-success" %></td>
            <td><%= link_to 'Destroy', airplane, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Airplane', new_airplane_path, class: "btn btn-success" %>
  </div>

  <footer>
    &copy; 2021 Burning Airlines
  </footer>
</div>
