<div class="container-fluid">
  <div class="text-center">
    <%= image_tag 'logo.jpg', size: "100x100", class: "inline-image" %>
    <h2 class="inline-image">Burning Airlines - Admin</h2>
  </div>
  <nav>
      <%= render partial: 'layouts/nav'%>
  </nav>

  <div class="text-center">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Booking code:</strong>
      <%= @reservation.booking_code %>
    </p>

    <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
    <%= link_to 'Back', reservations_path %>
  </div>

  <footer>
    &copy; 2021 Burning Airlines
  </footer>
</div>
